*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

.col-md-6 {
    width: 50%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

body{
	line-height: 1.42857;
	font-family: "Roboto";
	color: #272928;
}

.container{
	width:960px;
	margin: 0 auto;
	padding:60px 30px;
}

h2{
	font-family: "Oswald";
	color: #00585F;
}

#name h1{
	font-size: 75px;
	font-family: "Oswald";
	font-weight: bold;
	color: #D93537;
	vertical-align: middle;
	margin-top: 10px;
}

.fa-circle{
	display: inline-block;
	padding-right: 5px;
	text-align: center;
}


.fa-quote-left{
	padding-right: 3px;
}

.fa-quote-right{
	padding-left: 3px;
}

#content{
	margin-top: 35px;
}


ul{
	list-style: none;
}

 
ul.bulletList li{
  position: relative;
  margin-left: 12px;
}
 
ul.bulletList i{
  position: absolute;
  left: -12px; 
  top: 2px;
}

.fa-bolt{
	font-size: 0.9em;
	line-height: 1.42857;
}

.fa{
	color: #6A6A61;
}

.subtitle{
	margin-top:4px;
}

#leftSkills, #rightSkills{
	float:left;
	width: 50%
}

h3{
	color: #D93537;
}

h4{
	display: inline;
	font-weight: 700;
}

.date{
	color: #6A6A61;
	font-weight: 500;
}


#hobbies{
	font-style:italic;
	margin-top: 10px;
}

#shout{
	background-color: #D93537;
	border: 1px solid #D93537;
	border-radius: 50%;
	-webkit-border-radius:50%;
	height: 135px;
	width: 135px;
	color: #FFFDD1;
	padding: 35px 18px;
	font-size: 16px;
	text-align: center;
	font-weight: normal;
	position: relative;
	left: 40px;
	top:30px;
}

#contactInfo{
	color: #FFFDD1;
	background-color: #D93537;
	border: 1px solid #D93537;
	border-radius: 50%;
	-webkit-border-radius:50%;
	height: 225px;
	width:225px;
	font-size: 16px;
	text-align: center;
	padding-top:65px;
	position: relative;
	left: 170px;
	bottom: 70px;
}

#contactInfo i{
	color: #FFFDD1;
	padding-right: 5px;
}

#contactInfo p{
	padding-bottom: 10px;
}

