*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body{
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
    color: #403833;
    background-color:#F2F2EF;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Oswald", sans-serif;
}

/*---NAVIGATION BAR---*/

#navbar .container{
    position: relative;
    
}

#navbar{
    padding: 5px 10px;
    background-color: #E54E45;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0;
}

header:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#navbar ul{
    list-style: none;
    text-align: right;
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    right:0;

}

#navbar .container li{
    display: inline-block;
}

#navbar a{
    text-decoration: none;
    font-size: 25px;
    padding: 15px;
    transition:  0.5s;
    -moz-transition:  0.5s;
    color: #F2F2EF;
    font-family: "Oswald";
 }

#navbar a:hover{
    color: #DBC390;
    transition:  0.5s;
    -moz-transition:  0.5s;
}

a:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}

#navbar .container #headName{
    padding-left: 0;
}

@media screen and (max-width: 768px){
    
    #navbar{
        height: auto;
    }

    #navbar ul{
        position: static;
        text-align: center;
        display:inline-block;
        width: 100%;
    }

    #navbar a{
        text-align: center;
        display: block;
    }
    
    #navbar li a{
        font-size: 20px;
        padding: 6px 12px;
    }

    #navbar #headName{
        padding: 12px 0 6px 0;
    }
    
}


/*---INTRO SECTION--*/
h1, .intro h2{
    color: #13A3A5;
    margin:0;
}

.intro h2{
    margin-bottom: 5px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}   


.content{
    padding-top: 106px;
}

.about img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius:50%;
    width: 400px;
    margin:0 auto;
}   

.intro{
    margin-top: 55px;
}

.intro p{
    font-size: 16px;

}
@media screen and (min-width: 970px) and (max-width: 1199px){
    .intro{
        margin-top: 25px;
    }
}

@media screen and (max-width: 969px){
    .about img{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 445px){
    .about img{
        margin-top: 50px;
    }
}
/*---DOT BORDER---*/

.dotBorder{
    text-align: center;
    padding: 80px 0;
}

.dotBorder .fa-circle{
    display: inline-block;
    padding: 0 8px;
    font-size: 1.15em;
}

.fa-circle, .fa-circle-o{
    color: #DBC390;
}

/*---WORK EXPERIENCE---*/

#experiences{
    text-align: center;
}

#experiences h3{
    margin-bottom: 10px 0 5px 0;
    color: #E54E45;
}

#experiences h4, #experiences i{
    display: inline;
}

.date{
    font-weight: normal;
}

#experiences p{
    text-align: justify;
    padding-top: 5px;
    font-size: 16px;
}

#experiences i{
    font-size: 0.65em;
    position: relative;
    bottom: 2.5px;
    padding: 0 2px;
}

.skillList{
    list-style: none;
    text-align: left;
}

@media screen and (min-width: 992px){
.col-md-3{
    width:20%;
}

.design{
    margin-left: 120px;
}
}


@media screen and (min-width: 766px) and (max-width: 991px){
.design{
    margin-left: 120px;
}

.code.col-sm-6{
    padding-left: 135px;
}

.soft.col-sm-6{
    padding-left: 56px;
}

.col-sm-6{
    padding-top: 20px;
}

}

@media screen and (max-width: 765px){
.skills li{
    text-align: center;
}
}

.skillList i:first-child{
    margin-left: 3px;
}

.skills{
    margin-top: 30px;
    font-size: 16px;
}


/*---PORTFOLIO---*/

#portfoliohead h3{
    color: #E54E45;
    text-align: center;
}

#portfoliohead h4{
    text-align: center;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

#portfoliohead p{
    font-size: 16px;
    text-align: center;
}

.wrapper {
  display: block;
  max-width: 1100px;
  margin: 15px auto;
}

.portfolio {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
}

.portfolio {
  display: block;
}
 
.portfolio li {
  display: block;
  float: left;
  width: 30%;
  max-width: 400px;
  margin: 10px 18px;
}
 
.portfolio li > a{
  display: block;
  padding: 8px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}
 
.mfp-title {
  font-size: 1.2em;
  color: #ddd !important;
  font-weight: 700;
}

img{
    max-width: 100%;
}

.wrapper .box{
    overflow: hidden;
    position: relative;
}
    
.wrapper .box .caption {  
    background-color: rgba(64,56,51,0.8);  
    position: absolute;  
    color: #fff;  
    z-index: 100;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
    left: 0;
    top: 0;  
}  

.wrapper .box .fade-caption, .wrapper .box .scale-caption {  
    opacity: 0;  
    width: 100%;  
    height: 100%;
    text-align: left;  
    padding: 15px;  
}  

.wrapper .box:hover .fade-caption {  
    opacity: 1;  
}    

#artwork{
    margin-top: 75px;
} 

#projects{
    margin-top: 40px;
}


.portfoliodialog{
    display: none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    padding:0;
    margin:0;
    overflow: auto;
    padding-top: 50px;
}

.box-modal:hover{
    cursor: pointer;
}

.close{
    position: fixed;
    top:0;
    right:0;
    padding:5px 32px 0 0;
    font-size: 35px;
}

.dotBorder-modal{
    padding: 20px;
}

.portfoliodialog .row{
    text-align: center;
}

.portfoliodialog img{
    margin-bottom: 30px;
}

#brainstorm{
    margin-top: 25px;
}

#brainstorm img{
    height: 375px;
    display: inline-block;
    padding: 0 20px;
}

#autocad img{
    margin:20px;
}

#volunteer p{
    margin-top: 30px;
}
/** media queries **/

@media screen and (max-width: 1200px){
    .portfolio li{
        margin:10px;
    }
}
@media screen and (max-width: 780px) {
  .portfolio li {
    width: 45%;
  }

  .portfoliodialog .container{
    padding-right: 25px;
    padding-left: 25px;
  }

  .close{
    padding-right: 15px;
  }

  #autocad img{
    margin: 0 auto;
  }

  #autocad #side{
    margin-bottom: 20px;
  }
}
 
@media screen and (max-width: 550px) {
  .portfolio { 
    text-align: center;
  }
 
  .portfolio li {
    float: none;
    display: inline-block;
    width: 80%;
    margin-bottom: 30px;
  }

  


}

@media screen and (max-width: 991px){
    .wrapper .box .caption{
        left:-9999px;
    }
}

/*---CONTACT SECTION---*/

/*--Form--*/
.LetsTalk h4{
    text-align: center;
    font-weight: normal;
    font-family: "Roboto", sans-serif
}

form{
    margin-top: 20px;
}

.topRow{
    display: inline-block;
  }

.form-control:focus {
    border-color: #E54E45;
    box-shadow: 0 0.75px 0.75px rgba(0, 0, 0, 0.075) inset, 0 0 8px #E54E45;
    outline: 0 none;
}

#contact-submit{
    position: absolute;
    right:0;
    margin:15px 15px 0 0;
    font-weight: bold;
    font-size: 18px;
    background-color: #13A3A5;
    color: #F2F2EF; 
    box-shadow: 0 4px #128687;
}

#contact-submit:hover{
    box-shadow: 0 6px #128687;
    margin-top: 13px;
}

#contact-submit:active{
    box-shadow: 0 0px #128687;
    margin-top: 19px;
}

button .fa-paper-plane{
    margin-right: 8px;
    font-size: 1.1em;
}


/*--Info Circles--*/

#contactCircles{
    display: inline-block;
}

.contactInfo{
    background-color: #E54E45;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    text-align: center;
    color: #F2F2EF;
}

#info-phone{
    width:130px;
    height: 130px;
    padding-top: 40px;
    position: relative;
    top:15px;
    left:20px;
    font-size: 15px;
}

#info-email{
    width: 205px;
    height:205px;
    padding-top: 77px;
    position: absolute;
    left: 210px;
    top: 82px;
    font-size: 15px;
}

.fa-phone, .fa-envelope{
    font-size: 1.3em;
    margin-bottom: 5px;
}

.fa-linkedin{
    position: relative;
    top:50px;
    left: 105px;
}

.fa-facebook{
    position: absolute;
    bottom: 95px;
    left:435px;
}

#contactSection .fa-2x{
    width: 50px;
    height: 50px;
    padding-top: 12px;
    box-shadow: 0 4px #B53C35;
    cursor:pointer;
}

#contactSection .fa-linkedin:hover{
    top:48px;
    box-shadow: 0 6px #B53C35;
}

#contactSection .fa-facebook:hover{
    bottom:97px;
    box-shadow: 0 6px #B53C35;
}

#contactSection .fa-linkedin:active{
    box-shadow: 0 0 #B53C35;
    top:54px;
}

#contactSection .fa-facebook:active{
    box-shadow: 0 0 #B53C35;
    bottom: 91px;
}

@media screen and (min-width: 450px) and (max-width: 650px){
.fa-facebook{
    bottom: 78px;
    left: 186px;
    position: absolute;
}
}

@media screen and (max-width: 449px){
#info-phone, #info-email, .fa-facebook{
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fa-linkedin{
    position: relative;
    top: -25px;
    left:150px;
}
}

@media screen and (max-width: 449px){
    #contact-submit{
        position: relative;
        width: 100%;
    }

    #contactCircles{
        display: block;
        margin-top: 23px;
        padding-left: 25%;
    }

  /*  .fa-facebook{
    bottom: 78px;
    left: 186px;
    position: absolute;
    }*/


}


/*---FOOTER---*/

footer{
    text-align: center;
    font-size: 12px;
    background-color: #E54E45;
    color: #F2F2EF;
    padding-bottom: 13px;
    margin-top: 143px;
}

footer p{
    margin: 0;
}

footer i{
    padding: 0 4px;
    font-size: 30px;
}

footer h2{
    font-size: 24px;
    font-family: "Oswald";
    padding: 13px;
    margin: 0;
}

@media screen and (max-width: 449px){
footer{
    margin-top: 80px;
}
}