body, html{
	height: 100%;
}

.info{
	background-color: #E8655D;
	height: 100%;
	margin-right: 30px;
	
}

.links i:hover{
	color: #403833;
}

h1{
	font-family: 'Muli', sans-serif; 
	display: block;
	color: #FAFAF9;
}

p{
	font-family: 'Playfair Display', serif;
	color: #FAFAF9;
	font-size: 15.4px;
}

.profile{
	margin-top: 30%;
}

.image .img-responsive{
	display: block;
    max-width: 100%;
    height: auto;
    width: 45%;
    margin: auto;
    border: 2px solid #DBC390;
    border-radius: 50%;
}

.about{
	color: white;
	text-align: center;
	margin: 0 35px;
}

.about h1{
	margin-bottom: 18px;
	margin-top: 24px;
}

.links{
	text-align: center;
}

.links i{
	color: #DBC390;
	font-size: 22px;
	margin: 16px;
}


#portfoliohead{
	margin-left: 33.3%;
}

#portfoliohead h3{
	color: #E54E45;
	text-align:center;
	font-family: 'Muli', sans-serif; 
}

.portfoliodialog h3{
	margin-top: 45px;
}

#portfoliohead h4{
	text-align:center;
	font-weight:400;
	font-family:Roboto,sans-serif;
}

#portfoliohead p{
	/*font-size:16px;*/
	text-align:center;
}

.wrapper{
	display:block;
	/*max-width:1100px;*/
	margin:0px auto;
	padding-right: 20px;
	background-color: #FAFAF9;
}

.portfolio{
	/*max-width:1100px;*/
	margin:0 auto;
	display:block;
	padding-top: 24px;
	padding-bottom: 24px;
}

.portfolio li{
	display:block;
	float:left;
	width:44%;
	max-width:600px;
	margin:10px 18px;
}

.portfolio li>a{
	display:block;
	padding:8px;
	background:#fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:1px 2px 2px rgba(0,0,0,.25);
	-moz-box-shadow:1px 2px 2px rgba(0,0,0,.25);
	box-shadow:1px 2px 2px rgba(0,0,0,.25);
}

.mfp-title{
	font-size:1.2em;
	color:#ddd!important;
	font-weight:700;
}

img{
	max-width:100%;
}

.wrapper .box{
	overflow:hidden;
	position:relative;
}

.wrapper .box .caption{
	background-color:rgba(64,56,51,.8);
	position:absolute;
	color:#fff;
	z-index:100;
	-webkit-transition:all 300ms ease-out;
	-moz-transition:all 300ms ease-out;
	-o-transition:all 300ms ease-out;
	-ms-transition:all 300ms ease-out;
	transition:all 300ms ease-out;
	left:0;
	top:0;
}

#portfoliohead #projects .wrapper .box .caption h3{
	color: #FAFAF9;
}

.wrapper .box .fade-caption,.wrapper .box .scale-caption{
	opacity:0;
	width:100%;
	height:100%;
	text-align:left;
	padding:15px;
}

.wrapper .box:hover .fade-caption{
	opacity:1;
}


.portfoliodialog{
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:1000;
	padding:50px 0;
	margin:0;
	overflow:auto;
}

.portfoliodialog .container{
	padding: 0 80px;
}
.portfoliodialog h1{
	color: #13A3A5;
	margin-bottom: 24px;
}

.portfoliodialog p{
	color: #403833;
}

.portfoliodialog .img-responsive{
	display: inline-block;
}



.box-modal:hover{
	cursor:pointer;
}

.close{
	position:fixed;
	top:0;
	right:0;
	padding:5px 32px 0 0;
	font-size:35px;
	color:#e54e45;
	opacity:1;
}

.close:hover{
	color:#DBC390;
	opacity:1;
}

.dotBorder-modal{
	padding:20px;
}

.portfoliodialog .row{
	text-align:center;
}

.portfoliodialog img{
	margin-bottom:25px;
	margin-top: 15px;
}

.portfoliodialog a{
	color: #E8655D;
}

.needs li{
	font-family:'Playfair Display', serif;
	width: 50%;
	max-width: 400px;
	text-align: justify;
	margin: 5px 52px; 
}

.fa-bolt{
	margin-right: 6px;
	color: #DBC390;
}
.prototype{
	box-shadow: 0px 3px 15px #b3b3b3;
}

#personas img{
	width: 90%;
}

#personas p{
	margin-bottom: 32px;
}

iframe{
	margin-top: 24px;
}

#recwrfm img{
	width: 400px;
	margin: 10px;
}

#recwrfm{
	margin-bottom: 32px;
}

#finalversion img{
	width: 90%;
	margin-bottom: 10px;
}

#finalversion p{
	font-style: italic;
	margin-bottom: 32px;
}

.trailerimg{
	margin-top: 24px;
	margin-right: 24px;
}
#groupimg{
	margin:20px auto;
}

.pdf{
	margin-top: 20px;
}
@media screen and (min-width: 992px){
.shortimg{
	width: 250px;
	margin-top: -243px;
}

#longimg{
	width: 250px;
	margin-left: 16px;
	margin-right: 16px;
}
}
#busypoint li{
	width: 100%;
	font-family: "Playfair Display", serif;
	font-size: 15.4px;
	max-width: 1000px;
	margin: 3px;
}

#busypoint ul{
	width: 100%;
	padding: 0;
}
@media screen and (max-width:1200px){
	.portfolio li{
		margin:10px;
	}
}

@media screen and (max-width:780px){
	.portfolio li{
		width:45%;
	}

	.portfoliodialog .container{
		padding-right:25px;
		padding-left:25px;
	}

	.close{
		padding-right:15px;
	}
}

@media screen and (max-width:550px){
	.portfolio{
		text-align:center;
		padding-left: 0;
	}

	.portfolio li{
		float:none;
		display:inline-block;
		width:80%;
		margin-bottom:30px;
	}

	.profile{
		margin-top: 20%;
	}

	#portfoliohead{
		margin-left: 0;
	}

	.portfoliodialog{
		padding: 12px;
	}

	.wrapper{
		padding-right: 0;
	}
	iframe{
		height: 200px;
		margin-bottom: 50px;
	}
	p{
		font-size: 14px;
	}
}

@media screen and (max-width:991px){
	.wrapper .box .caption{
		left:-9999px;
	}
}

@media screen and (min-width: 768px){
	.info{
		position: fixed;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	#portfoliohead{
		margin-left: 50%;
	}

	.portfolio li{
		width: 90%;
	}
}

@media screen and (max-width: 767px){
	.info{
		margin-right: 0;
	}
}

@media screen and (min-width: 551px) and (max-width: 767px){
	.profile{
		margin-top: 18%;
	} 

	.image .img-responsive{
		width: 25%;
	}
	#portfoliohead{
		margin-left: 0;
	}
}

@media screen and (min-width: 1600px){
	.portfolio li{
		width: 46%;
	}
}